@media screen and (max-width: 576px) {
  .gallary {
    grid-template-columns: repeat(1, 1fr);
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img img {
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .gallary {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .item {
    align-items: center;
  }
}
